@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
  background-color: rgb(0, 0, 0);
  color: greenyellow;
  font-family: 'Orbitron', sans-serif;
}

body{
  font-size: 62.5%;
}

.container{
  height: 100vh;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}